.product--section {

	@media screen and ( max-width: $medium ) {
		padding: 0 grid-pixels(0, .5);
	}
}

.product-gallery {
	position: relative;
}

.product-gallery--navigation {
	@media screen and ( min-width: $small ) {
		left: 0;
		margin: 0;
		position: absolute !important;
		top: 0;
		width: 110px;

		.slick-arrow {
			bottom: -40px;
			top: auto;

			&.slick-next, &.slick-prev {
				transform: rotate(90deg);
			}
			&.slick-next {
				right: 3px;
			}
			&.slick-prev {
				left: 3px;
			}
		}
	}

	@media screen and ( max-width: $small ) {
		margin: grid-pixels(0, 1)	auto -10px;
		overflow: visible;
		width: 80%;
    	width: calc(100% - 60px);

		.slick-list {
			max-height: grid-pixels(0, 6);
		}
	}	

	.slick-arrow {
		&:before {
		    color: $grey;
		}
	}
}

.product-gallery--thumbnail-trigger {
	border-radius: 5px;
	box-shadow: 0 0 0 2px transparent inset;
	max-width: 110px;
	padding: 2px;
	transition: all .3s;

	&.thumbnail--active, &.thumbnail-selected {
		box-shadow: 0 0 0 2px $red inset;
	}

	@media screen and ( max-width: $small ) {
		// max-width: none;
	}
}

.product-gallery--thumbnail {
	margin: 0 auto;
}

.product-gallery--slider {
	@media screen and ( min-width: $small ) {
		margin-left: 120px;
	}
}

.product-gallery--button-enlarge-image {
	cursor: pointer;
	left: 0;
	position: absolute;
    top: 5px;
    z-index: 9;

	svg {
		$d: 20px;
		fill: $grey;
		width: $d;
	}

	@media screen and ( max-width: $small ) {
     	left: 10px;
    } 
}

.product-modal--button-close {
	@include type-headline($size: 60px, $marginbottom: 0);

    color: $grey-medium;
    cursor: pointer;
    position: absolute;
    right: grid-pixels(0, 4);
    top: grid-pixels(0, 4);  

    @media screen and ( max-width: $medium ) {
     	right: grid-pixels(0, 1);
     	top: grid-pixels(0, 1);
    } 
}

.product-modal--enlarged-image {
	@include layout-flex( $justify: center, $align: flex-start );

	background-color: $white;
	height: 100vh;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0 !important;
	transition: all .5s;
	visibility: hidden;
	width: 100vw;
	z-index: 9999;
	
	img {
		max-width: 100%;
	}

	.placeholder--image {
		max-width: 600px;
		width: 100%;
	}
}

.product-details {
	@media screen and ( max-width: $small ) {
    	margin-top: grid-pixels(0, 2);
    }
}

.product-title {
	color: $grey;
    font-size: 40px;
    font-family: $headline;
    line-height: 1;
    text-transform: uppercase;
}

.product-vendor-and-ratings {
    display: flex;

    > span {
    	padding: grid-pixels(0, .5) grid-pixels(0, .5) 0 0;
    }
}

.product-ratings, .product-reviews--content {
	.spr-icon, .spr-icon-star-empty {
	    color: $yellow;
	}
}

.product-sku {
    margin-top: 1rem;
    opacity: .6;
}

.product--price {
	.price--main, .price--compare-at {
		color: $grey;
		font-family: $headline;
		font-size: 36px;
	}
}

.product--quantity-available {
	@include layout-flex( $align: center );

	font-size: 13px;
	height: grid-pixels(0, 2);
	margin-left: grid-pixels(0, 1);
}

.product--quantity-available-value {
	@include layout-flex( $justify: center, $align: center);
	
	$d: 30px;
	
	background-color: rgba(190,51,37,.05);
	border-radius: 50%;
	border: 2px solid $yellow;
	color: $yellow;
	height: $d;
	margin-right: grid-pixels(0, .5);
	width: $d;
}

.product--quantity-available-label {
	color: $grey-medium;
	text-transform: capitalize;
}

.product-description {
    margin-top: grid-pixels(0, .75);
}

.product-options-container {
	@include layout-flex();

	.form-field {
		width: 49%;
	}
}

.product-form--atc-button  {
	background-color: $blue;
	border-color: $blue;
	max-width: 215px;

	&:not(.disabled):hover {
		background-color: lighten($blue, 5%);
		border-color: lighten($blue, 5%);
	}

	&:active {
		background-color: darken($blue, 5%);
		border-color: darken($blue, 5%);
	}
}

//tabbed section
.product-section-tabs {
    padding: grid-pixels(0, 1);

    @media screen and ( max-width: $small ) {
    	padding: grid-pixels(0, .5);
    }

    #tabs {
	    @extend %layout-container;
    }
}

.product-section-tab-container {
	padding: grid-pixels(0, 3) grid-pixels(0, 6);

	@media screen and ( max-width: $medium ) {
		padding: grid-pixels(0, 3) grid-pixels(0, 4);
	}

	@media screen and ( max-width: $small ) {
    	padding: 0;
    }
}

.product-section-tab {
	@include layout-flex( $align: flex-start, $justify: space-between );
}

.product-section-tab-section {
	width: 100%;

	@media screen and ( min-width: $medium ) {
		width: 48%;
		width: calc( 50% - 40px );

		&.product-section-tab-section--fullwidth {
			width: 100%;
		}
	}

	p {
		font-size: 17px;
		margin: 0 0 grid-pixels(0, 1);
		text-align: left !important;
	}	

	ul {
		font-size: 17px;
		margin: 0 0 grid-pixels(0, 1);
	}

	li:not(.product-section-tab-listitem) {
		margin: grid-pixels(0, .5) 0;
	}	
}

.product-section-tab-section--fullwidth {
	margin: 0 auto;
	max-width: 800px;
}

.product-section-tablist {
	border-bottom: 1px solid $grey-light;
	display: flex;
	justify-content: center;
    list-style-type: none;
	margin: 0;
    padding: 0;

    @media screen and ( max-width: $medium ) {
    	flex-direction: column;
    }

    a {
    	border-bottom: 3px solid transparent;
    	color: $grey;
    	display: block;
    	font-weight: bold;
    	padding-bottom: grid-pixels(0, 1);
    	text-decoration: none;
    	text-transform: uppercase;
    	transition: all .3s;

    	@media screen and ( max-width: $medium ) {
    		padding-bottom: grid-pixels(0, .5);
    		margin-bottom: grid-pixels(0, .5);
    	}
    }

    .ui-tab {
    	padding: 0 grid-pixels(0, 1);

    	@media screen and ( max-width: $medium ) {
	    	padding-left: 0;
	    }
    }

    .ui-tabs-active, .ui-state-active {

    	a {
    		border-color: $yellow;
    		color: $dark-blue;
    	}
    }

    .ui-tab:hover {

    	a {
    		border-color: $grey-light;
    	}
    }
}

.product-section-tab-title {
	@include type-headline( $size: 28px);

	@media screen and ( max-width: $medium ) {
		margin-bottom: grid-pixels(0, 1.5);
	}
}

.product-section-tab-list {
	list-style-type: none;
	padding: 0;
}

.product-section-tab-listitem {
	@include layout-flex( $justify: space-between);

	border-bottom: 1px solid $grey-light;
	font-size: 17px;
	padding: 0 0 grid-pixels(0, 1);
	margin-bottom: grid-pixels(0, 1);

	strong {
		font-weight: bold;
	}
}

#tab-2 {
	#shopify-product-reviews {
		border: 0 solid;
		box-shadow: none;
	}
}

.product-shipping-lead-time {
    margin-top: grid-pixels(0, 1);
    margin-bottom: 0;
}

.product-mcafee-badge {
	margin: grid-pixels(0, .75) 0 0;
}

.product-share-buttons .share-buttons {
	margin-top: grid-pixels(0, .5);
}

.product--no-promo {
    margin: grid-pixels(0, 1) 0;
}

.breadcrumbs-container {
	a {
		color: $black;
	}
}
.product-gallery--thumbnail-trigger.thumbnail--selected {
	box-shadow: 0 0 0 2px $black;
}
.product--quantity-available-value {
	border-color: $black;
	color: $black;
}
