{% for t in product.tags %}
     {% if t contains 'Gloves' and t != 'Batting Gloves' %}     
        Baseball Fielding Gloves:
        <br />AGE:       POSITION:         GLOVE SIZE:
        <br />Under 8    Infield                   9”
        <br />Under 8    Outfield                9” – 10.5”
        <br />8 – 13       Infield                 10” – 11.5”
        <br />8 – 13       Outfield               11” – 12.5”
        <br />13 – Adult Infield                 11” – 12”
        <br />13 – Adult Outfield              12” – 13”
        <br />
        <br />
        <br />Fastpitch Fielding Gloves:
        <br />AGE:           POSITION:           GLOVE SIZE:
        <br />Under 8         Infield                        10”
        <br />Under 8         Outfield                       9” – 11”
        <br />8 – 13            Infield                        10” – 11.5”
        <br />8 – 13           Outfield                      11” – 12.5”
        <br />13 – Adult      Infield                       11.5” – 12”
        <br />13 – Adult       Outfield                    12” – 13”
        <br />
        <br />
        <br />Glove Size By Position:
        <br />POSITION:                GLOVE SIZE:
        <br />Middle Infield                   11” – 11.75”
        <br />3rd Base                          11.5” – 12”
        <br />Pitcher                             11.5” – 12”
        <br />Outfield                            12” – 13”
     {% endif %} 
     {% if t == 'Protective Gear' %}     
        Sizing Charts for Protective Equipment
        <br />
        <br />For helmet size, measure the circumference of the head just above the ears and refer to the chart for accurate sizing.
        <br />Helmet Sizing
        <br />
        <br />SIZE HAT SIZE HEAD CIRCUMFERENCE
        <br />Extra Small 6 3/8 - 6 1/2 20" - 20 1/2"
        <br />Small 6 5/8 - 6 3/4 20 3/4" - 21 1/4"
        <br />Medium 6 7/8 - 7 21 1/2" - 22"
        <br />Large 7 1/8 - 7 1/4 22 1/4" - 22 3/4"
        <br />Extra Large 7 3/8 - 7 1/2 23" - 23 1/2"
        <br />Double Extra Large 7 5/8 - 7 3/4 23 3/4" - 24 1/4"
        <br />
        <br />Chest Protector Sizing
        <br />For chest protector size, measure from top of breast plate to waist to get length required for correct fit.
        <br />AGE LENGTH
        <br />Adult 17"
        <br />Intermediate 16"
        <br />Youth 15"
        <br />
        <br />Leg Guard Sizing
        <br />For leg guard size, measure from center of kneecap to bottom of shin.
        <br />AGE LENGTH
        <br />Adult 16"
        <br />Intermediate 14"
        <br />Youth 13"
     {% endif %}       
     {% if t == 'Hats' %}     
        Hat Sizing Chart
        <br />Head Circumference Adult Hat Size
        <br />Inches Centimeters Fitted Easy Fit Sized Stretch Fit Stretch Fit/Adjustable
        <br />21 1/4 54 6 3/4 Small Small/Medium
        <br />21 5/8 55 6 7/8
        <br />22 55.9 7 Medium One Size Fits Most
        <br />22 3/8 56.8 7 1/8 Medium
        <br />22 3/4 57.8 7 1/4 Large
        <br />23 1/8 58.7 7 3/8
        <br />23 1/2 59.7 7 1/2 XL Large/XL
        <br />23 7/8 60.6 7 5/8
        <br />24 1/4 61.6 7 3/4 XXL
        <br />24 5/8 62.5 7 7/8
        <br />25 63.5 8
        <br />
        <br />Head Circumference Children's Hat Size
        <br />Inches Centimeters Fitted Easy Fitted Stretch Fitted
        <br />18 1/2 47
        <br />19 48 6 XSM
        <br />19 3/8 49.2 6 1/8 S
        <br />19 3/4 50.2 6 1/4 S/M
        <br />20 1/8 51 6 3/8 M
        <br />20 1/2 52 6 1/2
        <br />20 7/8 53 6 5/8 L L/X
        <br />21 1/4 54 6 3/4
        <br />21 5/8 55 6 7/8 XL
        <br />22 55.9 7
     {% endif %}      
     {% if t == 'Batting Gloves' %}     
        General Batting Glove Sizing:
        <br /> To determine your correct batting glove size, measure (in inches) from the base of your palm to the tip of your middle or longest finger.
        <br />
        <br />Adult Batting Glove Sizing Chart:
        <br />X-SMALL       6.75” or less
        <br />SMALL          6.75” – 7”
        <br />MEDIUM       7” – 7.25”
        <br />LARGE         7.25” – 7.75”
        <br />X-LARGE     7.75” – 8”
        <br />
        <br />Youth Batting Glove Sizing Chart:
        <br />SMALL         6” – 6.25”
        <br />MEDIUM      6.25” – 6.5”
        <br />LARGE        6.5” – 6.75”
     {% endif %} 
     {% if t == 'Bats' %}     
        General Bat Sizing Guide.
        <br />
        <h2 id="page-title" class="title text-center"><iframe width="742" height="442" src="https://www.youtube.com/embed/gYZhbHwIdag" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe></h2>
  <h2>BAT CHART</h2>  
<p>Success at the plate often comes down to this: making consistent hard contact against live pitching. To do this, it’s important to swing the right bat for you. That means a bat that’s long enough to cover the strike zone, light enough to swing with ease, heavy enough to generate power, and, of course, permitted in your league. In order to find the ideal size for you, consider the following guidelines:</p>
  
<h2 class="title text-center" style="text-align: left;">
  <img src="//cdn.shopify.com/s/files/1/2225/5559/files/baseball-bat-buying-guide_800x800.png" style="float: none;">
  </h2> 
  
  <p>See more bat buying guide tips <a href="https://www.directsports.com/pages/baseball-bat-buying-guide" target="_blank">here</a></p>
</div>
     {% endif %}
{% endfor %}