<div class="promo-mosaic--row">
  <div class="promo-mosaic--column promo-mosaic--column-wide">
    {%
      include 'promo-block',
      block: section.blocks[0],
    %}
  </div>

  <div class="promo-mosaic--column promo-mosaic--column-narrow">
    {%
      include 'promo-block',
      block: section.blocks[1],
    %}
    {%
      include 'promo-block',
      block: section.blocks[2],
    %}
  </div>
</div>
