.button-primary, .button-secondary, .button-tertiary {
	border-radius: 4px;
	font-size: 16px !important;
	height: grid-pixels(0, 2.5);
	padding: 0 grid-pixels(0, 1.5);

	&:not(.site-header-search-button){
		@include layout-flex($justify: center);
		max-width: 200px;
	}
}

.button-primary {
	background-color: $yellow;
	border-color: $yellow;

	&:hover {
		background-color: lighten($yellow, 5%) !important;
		border-color: lighten($yellow, 5%) !important;
	}
}

.button-secondary {
	background-color: $white;
	border-color: $white;
	color: $dark-blue;
	box-shadow: 1px 1px 3px rgba(0,0,0,.0);
	transition: all .3s;

	&:hover {
		border-color: $white !important;
		box-shadow: 1px 2px 5px rgba(0,0,0,.3);
		color: $dark-blue;
	}
}

.button-tertiary {
	background-color: $dark-blue;
	border-color: $dark-blue;
	color: $white;

	&:hover {
		background-color: $blue !important;
		border-color: $blue !important;
	}
}

.button-checkout {
	background-color: $yellow !important;
	border-color: $yellow !important;

	&:hover {
		background-color: lighten($yellow, 5%) !important;
		border-color: lighten($yellow, 5%) !important;
	}

	&:active, &:focus {
		background-color: darken($yellow, 5%);
		border-color: darken($yellow, 5%);
	}
}