// Brand colors palet

$dark-blue: #1e2b4b;
$yellow: #ebb21b;
$bluey-grey: #9cb3bc;
$bright-yellow: #f3b510;
$black: #3a3a3a;
$white: #fff;

$red: #cc0000;
$red-dark: #BE3325;
$blue: #257FBE;
$white-off: #fafafa;
$grey: #484848;
$grey-medium: #686868;
$grey-light: #e6e6e6;


// type

$sans: 'Lato', sans-serif;
$headline: 'League Gothic', sans-serif;


// Breakpoints 

$small: 720px;
$medium: 1024px;
$large: 1400px;


// Grid

$GRID-COL: 260;
$GRID-SPACER: 20;


// Card styles
$card-border-color: rgba(127,127,127,.16);
$card-border-radius: 4px;
$card-box-shadow: 0 1px 4px rgba(127,127,127,0.11);